<div class="row">
    <!-- Dropdown de Produtos -->
    <div class="col">
        <label>Product</label>
        <select class="form-select" formControlName="productId" (change)="onProductChange($event)">
          <option disabled selected>Select</option>
          <option *ngFor="let product of products" [value]="product.id" [selected]="product.id === saleItemForm.get('productId')?.value">
            {{ product.name }}
          </option>
        </select>
      </div>
      
      <div class="col">
        <label>Quantity</label>
        <input type="number" class="form-control" formControlName="quantity" [value]="saleItemForm.get('quantity')?.value"
          (change)="onQuantityChange($event)">
      </div>
  
    <!-- Preço Unitário -->
    <div class="col">
      <label>Unit Price</label>
      <input type="number" class="form-control" formControlName="unitPrice" min="0.01" [value]="unitPriceValue" readonly />
    </div>
  
    <!-- Botão de Remover -->
    <div class="col align-self-end">
      <button type="button" class="btn btn-danger" (click)="onRemove()">Remove</button>
    </div>
  </div>
  